body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form input, button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
